.navbar{
    background: transparent;
    padding: 17px 96px;
    
}
.btn-nav1{
    background: transparent;
    color: #fff;
    border: 1px  solid #fff;
    
    
}
.btn-nav2{
    background-color: #fff;
    color: #000;
}
@media (max-width: 768px) {
    .navbar {
        padding: 17px 10px; /* Adjust padding for smaller screens */
    }
   
}

@media (max-width: 428px) {
    .navbar {
        padding: 10px 10px; /* Adjust padding for smaller screens */
    }
    #img{
        width: 69px;
        height: 19px;
    }
}